

        html{
            color: white;
            margin: 0;
            font-family: 'DM Sans', Helvetica, sans-serif;
/*            background-image: linear-gradient(to bottom, #10145D, #10145D, #111111);*/
        }
        body{
            margin: 0;
        }

        @media screen and (max-device-width: 700px) {
            #topnav{
                z-index: 2;
                position: fixed;
                top:5vw;
                left: 5vw;
            }
            .topnavtitle{
                font-size: 50px;
                margin-right: 10vw;
            }
            .topnavlogo{
                width: 48px;
            }
            #topnavoptionbar{
              position: absolute;
              left: 68vw;
              top: 100px;
              border-radius: 2vw;
                padding-left: 5vw;
                padding-right: 2vw;
                padding-bottom: 2vw;
                color: black;
                backdrop-filter: blur(4.5px);
                border: 1px solid rgba(255, 255, 255, 0.36);
                background: rgba(255, 255, 255, 0.64);
                display: none;
            }
            #topnavcontrol{
                position: absolute;
                top: -20px;
                left: 80vw;
                font-size: 80px;
                color: black;
                width: 110px;
                height: 110px;
                text-align: center;
                backdrop-filter: blur(4.5px);
                border-radius: 20vw;
                border: 1px solid rgba(255, 255, 255, 0.36);
                background: rgba(255, 255, 255, 0.64);
            }
            .topnavoptions{
                font-size: 36px;
                display: block;
                margin-right: 3vw;
                margin-top: 3vw;
            }
            #hphero{
                z-index: -1;
                position: fixed;
                min-height: 400px;
                margin-left: 10vw;
                top: 10vh;
                width: 80vw;
                text-align: center;
            }
            .hpstorycolumn{
                display: none;
            }
            .hpcta{
                border-radius: 5vw;
                padding: 10px;
                width: 280px;
                border: solid 1px;
                text-align: center;
                background-color: #365EC5;
                font-size: 36px;
                color: #365EC5;
                margin: auto;
            }
            #hpheroimage_desktop{
                display: none;
            }
            #hpheroimage_tabloid{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -4;
                display: none;
            }
            #hpheroimage_mobile{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -4;
            }
            #hpheroimage_mobile_end{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -5;
            }
            #hpherotagline{
                font-size: 80px;
                margin-bottom: 3vw;
            }
            .hpbodycopy{
                font-size: 36px;
                margin-bottom: 4vw;
            }
            #hpcontent{
                margin-top: 70vh;
                background-color: #050505;
/*                background-image: linear-gradient(to bottom, #10145D, #111111);*/
            }
            #hpmission{
                text-align: left;
                font-size: 60px;
                width: 80vw;
                margin-left: 9vw;
                padding-top: 12vw;
                padding-bottom: 12vw;
            }

            #hpdifferent{
                text-align: left;
                font-size: 48px;
                width: 84vw;
                margin-left: 9vw;
                padding-top: 12vw;
/*                padding-bottom: 12vw;*/
            }

            #hptestimonial{
                text-align: left;
                font-size: 48px;
                width: 84vw;
                margin-left: 9vw;
                padding-top: 12vw;
/*                padding-bottom: 3vh;*/
            }
            .hpstorytitle{
                text-align: left;
                font-size: 48px;
                margin-bottom: 1.5vw;
                margin-left: 5vw;
             }
            .hpstorybody{
                text-align: left;
                font-size: 32px;
                margin-left: 5vw;
                margin-right: 5vw;
                margin-bottom: 5vw;
            }
            .comparisontype1{
                display: inline-block;
                margin-right: 0.7vw;
                background-color: #151515;
                padding: 25px;
                border-radius: 20px;
                vertical-align: top;
                width: 80vw;
                margin-bottom: 20px;
            }
            .comparisontype2{
                display: inline-block;
                margin-right: 0.7vw;
                background-color: #365EC5;
                padding: 25px;
                border-radius: 20px;
                vertical-align: top;
                width: 80vw;
            }
            .comparison1{
                font-size: 36px;
            }
            .comparison2{
                font-size: 28px;
                border-radius: 10vw;
                background-color: #1F1F1F;
                margin-top: 30px;
                padding: 20px;
            }
            .numberhighlight{
                padding: 6px;
                display: inline-block;
                background-color: #343434;
                border-radius: 10vw;
                min-width: 24px;
                text-align: center;
            }
            #hpplaceholder{
                height: 60vh;
            }
            #hpcontact{
                z-index: -1;
                position: fixed;
                min-height: 400px;
                margin-left: 10vw;
                top: 70vh;
                width: 80vw;
                text-align: center;
            }
            .grid-container {
              display: grid;
              grid-template-columns: auto;
              padding: 10px;
              gap: 1vw;
              margin-left: 8vw;
              margin-right: 8vw;
            }
            .grid-container > div {
/*                background-color: rgba(255, 255, 255, 0.8);*/
/*                text-align: center;*/
                padding: 20px 0;
                font-size: 30px;
                border-radius: 1vw;
/*                background: rgba(255, 255, 255, 0.15);*/
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
            .item1 {
                width: 80vw;
                margin: auto;
                margin-bottom: 20px;
                background-color: #365EC5;
            }
            .item2 {
                width: 80vw;
                margin: auto;
                margin-bottom: 20px;
                background-color: #365EC5;
            }
            .item3 {
                width: 80vw;
                margin: auto;
                margin-bottom: 20px;
                background-color: #365EC5;
            }
            .item4 {
                width: 80vw;
                margin: auto;
                margin-bottom: 20px;
                background-color: #365EC5;
            }
            .item5 {
                width: 80vw;
                margin: auto;
                margin-bottom: 20px;
                background-color: #365EC5;
            }
            .item6 {
                width: 80vw;
                margin: auto;
                margin-bottom: 20px;
                background-color: #365EC5;
            }

            .hphowdif{
                margin-top: 2vw; 
                margin-left: 8vw;
            }

            .illustration{
/*                filter:url(#round);
                content:"";
                display:block;*/
                width: 70px; 
                height: 70px; 
                margin-top: 3vw;
                margin-left: 5vw; 
                margin-bottom: 4.5vw; 
                text-align: left;
            }
            .testimonial{
                margin-left: 8vw;
                margin-top: 2vw;
                vertical-align: top;
            }
            .testimonialcontent{
/*                display: inline-block;*/
                width: 84vw;
                min-height: 600px;
                margin-right: 1.5vw;
                margin-bottom: 1.5vw;
                background-color: #151515;
                border-radius: 20px;
                vertical-align: top;
                position: relative;
            }
            .testimonialcontentquote{
                margin: 30px;
                font-size: 36px;
                padding-top: 2vh;
                padding-bottom: 10vh;
            }
            .testimonialcontentimage{
                width: 50px;
                height: 50px;
                border-radius: 10vw;
                display: inline-block;
                vertical-align: center;
                margin: 30px;
                position: absolute;
                bottom:0px;
            }
            .testimonialcontentname{
                display: inline-block;
                vertical-align: 35px;
                position: absolute;
                bottom:45px;
                left: 100px;
                font-size: 32px;
            }
        }






        @media only screen and (min-device-width: 700px) and (max-device-width: 1300px) {
            #topnav{
                z-index: 2;
                position: fixed;
                top: 5vw;
                left: 5vw;
            }
            .topnavtitle{
                font-size: 28px;
                margin-right: 26vw;
/*                margin-top: 1vw;*/
            }
            .topnavlogo{
                width: 22px;
            }
            #topnavoptionbar{
                float: right;
                background: rgba(255, 255, 255, 0.64);
                border-radius: 4vw;
                height: 2vw;
                padding-left: 2.3vw;
                padding-bottom: 2vw;
                color: black;
                backdrop-filter: blur(4.5px);
                border: 1px solid rgba(255, 255, 255, 0.36);
            }
            #topnavcontrol{
                display: none;
            }
            .topnavoptions{
                font-size: 16px;
                display: inline-block;
                margin-right: 2vw;
                margin-top: 0.7vw;
            }
            #hphero{
                z-index: -1;
                position: fixed;
                min-height: 400px;
                margin-left: 8vw;
                top: 14vh;
                width: 50vw;
                height: 35vw;
            }
            .hpstorycolumn{
                display: none;
            }
            .hphowdif{
                margin-top: 10vw; 
                margin-left: 5vw;
            }
            .hpcta{
                border-radius: 10vw;
                padding: 8px;
                width: 140px;
/*                border: solid 1px;*/
                text-align: center;
                background-color: #365EC5;
                font-size: 20px;
                color: #365EC5;
            }
            img{
                width: 50vw;
            }
            #hpheroimage_desktop{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -3;
                display: none;
            }
            #hpheroimage_tabloid{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -3;
            }
            #hpheroimage_mobile{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -4;
                display: none;
            }
            #hpheroimage_mobile_end{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -5;
                display: none;
            }
            #hpherotagline{
                font-size: 42px;
                margin-bottom: 2vw;
            }
            .hpbodycopy{
                font-size: 19px;
                margin-bottom: 2vw;
            }
            #hpcontent{
                margin-top: 80vh;
                background-color: #050505;
/*                background-image: linear-gradient(to bottom, #10145D, #111111);*/
            }
            #hpmission{
                text-align: left;
                font-size: 36px;
                width: 70vw;
                margin-left: 8.5vw;
                padding-top: 8vw;
                padding-bottom: 8vw;
            }
            #hpdifferent{
                text-align: left;
                font-size: 36px;
                width: 70vw;
                margin-left: 8.5vw;
                margin-top: 15vh;
            }
            #hptestimonial{
                text-align: left;
                font-size: 36px;
                width: 70vw;
                margin-left: 8.5vw;
                margin-top: 40vh;
            }
            .hpstorytitle{
                text-align: left;
                font-size: 28px;
                margin-bottom: 1.5vw;
                margin-left: 4vw;
             }
            .hpstorybody{
                text-align: left;
                font-size: 16px;
                margin-left: 4vw;
                margin-right: 4vw;
            }
            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto;
              padding: 10px;
              gap: 1vw;
              margin-left: 8vw;
              margin-right: 8vw;
            }
            .grid-container > div {
/*                background-color: rgba(255, 255, 255, 0.8);*/
/*                text-align: center;*/
                padding: 20px 0;
                font-size: 30px;
                border-radius: 1vw;
/*                background: rgba(255, 255, 255, 0.15);*/
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border-top: 1px solid rgba(255, 255, 255, 0.3);
            }
            .item1 {
              grid-column-start: 1;
              grid-column-end: 3;
              background-color: #6487DF;
            }
            .item2 {
              background-color: #365EC5;
            }
            .item3 {
              background-color: #365EC5;
            }
            .item4 {
              grid-column-start: 2;
              grid-column-end: 4;
              background-color: #6487DF;
            }
            .item5 {
              grid-column-start: 1;
              grid-column-end: 3;
              background-color: #6487DF;
            }
            .item6 {
              background-color: #365EC5;
            }
            #hpplaceholder{
                height: 100vh;
            }
            #hpcontact{
                z-index: -1;
                position: fixed;
                left: 8vw;
                top: 14vh;
                width: 50vw;
                height: 35vw;
                display: none;
            }
            .hphowdif{
                margin-top: 2vw; 
                height: 36vw;
            }
            .illustration{
/*                filter:url(#round);
                content:"";
                display:block;*/
                width: 70px; 
                height: 70px; 
                margin-left: 1.5vw; 
                margin-bottom: 4.5vw; 
                text-align: left;
            }
            .testimonial{
                margin-left: 8vw;
                margin-top: 2vw;
                vertical-align: top;
            }
            .testimonialcontent{
/*                display: inline-block;*/
                width: 84vw;
                height: 400px;
                margin-right: 1.5vw;
                margin-bottom: 1.5vw;
                background-color: #151515;
                border-radius: 20px;
                vertical-align: top;
                position: relative;
            }
            .testimonialcontentquote{
                margin: 30px;
                font-size: 24px;
                padding-top: 2vh;
            }
            .testimonialcontentimage{
                width: 50px;
                height: 50px;
                border-radius: 10vw;
                display: inline-block;
                vertical-align: center;
                margin: 30px;
                position: absolute;
                bottom:0px;
            }
            .testimonialcontentname{
                display: inline-block;
                vertical-align: 35px;
                position: absolute;
                bottom:45px;
                left: 100px;
            }
            .comparisontype1{
                display: inline-block;
                margin-right: 0.7vw;
                background-color: #151515;
                padding: 25px;
                border-radius: 20px;
                vertical-align: top;
                width: 24.5%;
            }
            .comparisontype2{
                display: inline-block;
                margin-right: 0.7vw;
                background-color: #365EC5;
                padding: 25px;
                border-radius: 20px;
                vertical-align: top;
                width: 24.5%;
            }
            .comparison1{
                font-size: 20px;
            }
            .comparison2{
                font-size: 20px;
                border-radius: 10vw;
                background-color: #1F1F1F;
                margin-top: 30px;
                padding: 20px;
            }
            .numberhighlight{
                padding: 6px;
                display: inline-block;
                background-color: #343434;
                border-radius: 10vw;
                min-width: 24px;
                text-align: center;
            }
        }





            @media screen and (min-device-width: 1300px) {
            #topnav{
                z-index: 2;
                position: fixed;
                top:2vw;
                left: 2vw;
                width: 96vw;
            }
            .topnavtitle{
                font-size: 28px;
/*                margin-right: 68vw;*/
            }
            .topnavlogo{
                width: 25px;
            }
            #topnavoptionbar{
                float: right;
                background: rgba(255, 255, 255, 0.64);
                border-radius: 35px;
                height: 35px;
                padding-left: 20px;
                padding-bottom: 10px;
                color: black;
                backdrop-filter: blur(4.5px);
                border: 1px solid rgba(255, 255, 255, 0.36);
            }
            #topnavcontrol{
                display: none;
            }
            .topnavoptions{
                font-size: 16px;
                display: inline-block;
                margin-right: 20px;
                margin-top: 12px;
            }
            #hphero{
                z-index: -1;
                position: fixed;
                min-height: 400px;
                margin-left: 8vw;
                top: 26vh;
                width: 35vw;
                height: 35vw;
            }
            .hpstorycolumn{
                width: 30vw;
                float: left;
                display: inline-block;
                margin-left: 8vw;
                margin-top: 10vw;
                margin-right: 2vw;
            }
            .hpcta{
                border-radius: 2vw;
                padding: 10px;
                width: 140px;
                border: solid 1px;
                text-align: center;
                background-color: #365EC5;
                font-size: 20px;
                color: #10145D;
/*                min-height:30px;*/
            }
            img{
                width: 50vw;
            }
            #hpheroimage_desktop{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -2;
            }
            #hpheroimage_tabloid{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -3;
                display: none;
            }
            #hpheroimage_mobile{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -4;
                display: none;
            }
            #hpheroimage_mobile_end{
                position: fixed;
                width: 100vw;
                top: 0;
                z-index: -5;
                display: none;
            }
            #hpherotagline{
                font-size: 54px;
                margin-bottom: 2vw;
            }
            .hpbodycopy{
                font-size: 18px;
                margin-bottom: 2vw;
            }
            #hpcontent{
                margin-top: 95vh;
                background-color: #050505;
/*                background-image: linear-gradient(to bottom, #10145D, #111111);*/
            }
            #hpmission{
                text-align: left;
                font-size: 40px;
                width: 66vw;
                margin-left: 8.5vw;
                padding-top: 8vw;
                padding-bottom: 8vw;
            }
            #hpdifferent{
                text-align: left;
                font-size: 40px;
                width: 66vw;
                margin-left: 8.5vw;
                padding-top: 10vw;
            }
            #hptestimonial{
                text-align: left;
                font-size: 40px;
                width: 66vw;
                margin-left: 8.5vw;
                padding-top: 10vw;
            }
            .hpstorytitle{
                text-align: left;
                font-size: 40px;
                margin-bottom: 1.5vw;
                margin-left: 1.5vw;
             }
            .hpstorybody{
                text-align: left;
                font-size: 18px;
                margin-left: 1.5vw;
                margin-right: 1.5vw;
            }
            .comparisontype1{
                display: inline-block;
                margin-right: 0.7vw;
                background-color: #151515;
                padding: 40px;
                border-radius: 20px;
                vertical-align: top;
                width: 24.3%;
            }
            .comparisontype2{
                display: inline-block;
                margin-right: 0.7vw;
                background-color: #365EC5;
                padding: 40px;
                border-radius: 20px;
                vertical-align: top;
                width: 24.3%;
            }
            .comparison1{
                font-size: 30px;
            }
            .comparison2{
                font-size: 24px;
                border-radius: 10vw;
                background-color: #1F1F1F;
                margin-top: 30px;
                padding: 20px;
            }
            .numberhighlight{
                padding: 10px;
                display: inline-block;
                background-color: #343434;
                border-radius: 10vw;
                min-width: 30px;
                text-align: center;
            }
            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto;
              padding: 10px;
              gap: 1vw;
              margin-left: 8vw;
              margin-right: 8vw;
            }
            .grid-container > div {
/*                background-color: rgba(255, 255, 255, 0.8);*/
/*                text-align: center;*/
                padding: 20px 0;
                font-size: 30px;
                border-radius: 1vw;
/*                background: rgba(255, 255, 255, 0.15);*/
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border-top: 1.5px solid rgba(255, 255, 255, 0.3);
            }
            .item1 {
              grid-column-start: 1;
              grid-column-end: 3;
              background-color: #6487DF;
            }
            .item2 {
              background-color: #365EC5;
            }
            .item3 {
              background-color: #365EC5;
            }
            .item4 {
              grid-column-start: 2;
              grid-column-end: 4;
              background-color: #6487DF;
            }
            .item5 {
              grid-column-start: 1;
              grid-column-end: 3;
              background-color: #6487DF;
            }
            .item6 {
              background-color: #365EC5;
            }
            #hpplaceholder{
                height: 100vh;
            }
            #hpcontact{
                z-index: -1;
                position: fixed;
                left: 8vw;
                top: 32vh;
                width: 35vw;
                height: 35vw;
                display: none;
            }
            .hphowdif{
                height: 36vw;
                margin-left:8vw;
                margin-top: 20px;
            }
            .illustration{
/*                filter:url(#round);
                content:"";
                display:block;*/
                width: 70px; 
                height: 70px; 
                margin-left: 1.5vw; 
                margin-bottom: 4.5vw; 
                text-align: left;
            }
            .testimonial{
                margin-left: 8vw;
                margin-top: 2vw;
                vertical-align: top;
            }
            .testimonialcontent{
                display: inline-block;
                width: 40.5vw;
                height: 400px;
                margin-right: 1.5vw;
                margin-bottom: 1.5vw;
                background-color: #151515;
                border-radius: 20px;
                vertical-align: top;
                position: relative;
            }
            .testimonialcontentquote{
                margin: 30px;
                font-size: 24px;
            }
            .testimonialcontentimage{
                width: 50px;
                height: 50px;
                border-radius: 10vw;
                display: inline-block;
                vertical-align: center;
                margin: 30px;
                position: absolute;
                bottom:0px;
            }
            .testimonialcontentname{
                display: inline-block;
                vertical-align: 35px;
                position: absolute;
                bottom:45px;
                left: 100px;
            }
        }